:host{
    position:absolute;
    display:block;
    background-color: #333333;
    width: 300px;
    height: 100%;
    transform: translateX(-100%);
    color: white;
}

:host(.hide){
    transition: transform 0.5s;    
    transform: translateX(-100%);
}

:host(.show){
    transition: transform 0.5s;  
    transform: translateX(0);
}